<form id='new_article' class='new_article' accept-charset="UTF-8"
  action='/new' method='post'>
  <input  type="hidden"
          name="authenticity_token"
          value="<%= form_authenticity_token %>">
 <label for='article_title'>Title</label>
 <input id='article_title' name='article[title]' type='text'>
 <label for='article_body'>Body</label>
 <textarea id='article_body' name='article[body]'></textarea>
 <input name='commit' type='submit' data-disable-width='Create Post'
        value='Create Post'>
</form>
